.main-part{
    background-color: $color-main-background;
 padding:25rem 0;
margin-top: -20vh;


}

.section_features{
    background-image: linear-gradient(to right bottom, $color-primary, $color-primary-light ), url(../img/nat-4.jpg);
    background-size: cover;
    padding: 20rem 0;
    -webkit-transform: skewY(
        -7deg);
            transform: skewY(
        -7deg);

        & > *{
            -webkit-transform: skewY(
                7deg);
                    transform: skewY(
                7deg);
        }

        margin-top: -10rem;
}

